{%extends "index.html"%}
{%load static%}
{%block body%}
        
        <!-- :: Breadcrumb Header -->
        <section class="breadcrumb-header" id="page" style="background-image: url('{%static 'assets/images/mac/ba6.jpg'%}')">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="banner">
                            <h1>About US</h1>
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><i class="fas fa-angle-right"></i></li>
                                <li>About US</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
		
		<!-- :: About US -->
        <section class="about-us py-100" id="start">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="about-us-img-box">
                            <div class="img-box" style="background-image: url('{%static 'assets/images/mac/ba4.jpg'%}')"></div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="about-us-text-box">
                            <div class="sec-title">
                                <h2>Welcome to the best Garments around the world</h2>
                                <h3>Garments play a critical role.
                                </h3>
                                <p class="sec-explain">They serve various purposes, from providing warmth and protection from the elements to reflecting cultural, social, and individual identities. Here are some key aspects to consider when discussing garments:</p>
                                <!-- <p class="sec-explain">Cost-Effectiveness: Comparing the cost of car wrapping to traditional painting methods, highlighting its affordability and the option to revert to the original paint.</p>
                                <p class="sec-explain">Marketing Opportunity: For businesses, emphasize the branding and advertising advantages of using vehicle wraps to promote their products or services.</p> -->

                            </div>
                            <div class="row">
                                <div class="col-sm-7">
                                    <p class="providing">Here are some key aspects to consider when discussing garments:</p>
                                    <ul class="about-us-core-list">
                                        <li class="item">
                                            <i class="fas fa-check"></i>
                                            <h4>Types of Garments: Garments come in numerous styles and forms, including shirts, pants, dresses, skirts, jackets, coats, suits, activewear, loungewear, lingerie, and accessories like hats, scarves, and gloves.</h4>
                                        </li>
                                        <li class="item">
                                            <i class="fas fa-check"></i>
                                            <h4>Materials and Fabrics: As mentioned earlier, garments are made from a variety of materials and fabrics, each with its own unique properties and characteristics.</h4>
                                        </li>
                                        <li class="item">
                                            <i class="fas fa-check"></i>
                                            <h4>Construction and Design: Garments are constructed through a combination of sewing, stitching, cutting, and sometimes specialized techniques such as knitting, weaving, or felting.</h4>
                                        </li>
                                        <!-- <li class="item">
                                            <i class="fas fa-check"></i>
                                            <h4>Custom Designs: Including company logos, graphics, and personal artwork.</h4>
                                        </li> -->
                                    </ul>
                                    <!-- <div class="img-person">
                                        <img class="img-fluid about-us-person" src="{%static 'assets/images/about-us/01_about-us-person.jpg'%}" alt="About US Person">
                                        <img class="img-fluid signature" src="{%static 'assets/images/01_signature.png'%}" alt="About US Signature">
                                    </div> -->
                                </div>
                                <div class="col-sm-5 d-flex align-items-center justify-content-between">
                                    <div class="about-us-features-carousel owl-carousel owl-theme">
                                        <div class="item">
                                            <i class="ar-icons-computer"></i>
                                            <h5>Transparent Pricing</h5>
                                            <!-- <a class="btn-1 btn-3" href="01_about-us.html"><span>Read More</span></a> -->
                                        </div>
                                        <div class="item">
                                            <i class="ar-icons-check-list"></i>
                                            <h5>Satisfaction Guarantee 100%</h5>
                                            <!-- <a class="btn-1 btn-3" href="01_about-us.html"><span>Read More</span></a> -->
                                        </div>
                                        <div class="item">
                                            <i class="ar-icons-architect"></i>
                                            <h5>Personalised Solutions</h5>
                                            <!-- <a class="btn-1 btn-3" href="01_about-us.html"><span>Read More</span></a> -->
                                        </div>
                                        <div class="item">
                                            <i class="ar-icons-plan-1"></i>
                                            <h5>Accurate Testing</h5>
                                            <!-- <a class="btn-1 btn-3" href="01_about-us.html"><span>Read More</span></a> -->
                                        </div>
                                        <div class="item">
                                            <i class="ar-icons-architect"></i>
                                            <h5>Environmental warehouse</h5>
                                            <!-- <a class="btn-1 btn-3" href="01_about-us.html"><span>Read More</span></a> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        {%endblock%}