{%extends "index.html"%}
{%load static%}
{%block body%}
        
		<!-- :: Breadcrumb Header -->
        <section class="breadcrumb-header style-2" id="page" style="background-image: url('{%static 'assets/images/mac/ba7.jpg'%}')">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="banner">
                            <h1>Our Product</h1>
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><i class="fas fa-angle-right"></i></li>
                                <li>Product</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
		
        <!-- :: Blog -->
        <section class="blog py-100-70">
            <div class="container">
                <div class="sec-title home-2">
                    <div class="row">
                        <div class="col-lg-5">
                            <h2>Recent</h2>
                            <h3>See All Product</h3>
                        </div>
                        <div class="col-lg-5 d-flex align-items-center">
                            <p class="sec-explain">Garments encompass a wide range of clothing items designed to cover and protect the body, as well as express personal style.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="blog-item">
                            <div class="img-box text-box" style="height: 350px;">
                                <a href="" class="open-post">
                                    <img class="img-fluid" src="{%static 'assets/images/mac/pa1.jpg'%}" alt="01 Blog">
                                </a>
                                
                            </div>
                            <div class="text-box">
                                <a href="" class="title-blog">
                                    <h5>Alimens & Gentle Mens</h5>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="blog-item">
                            <div class="img-box text-box" style="height: 350px;">
                                <a href="" class="open-post">
                                    <img class="img-fluid" src="{%static 'assets/images/mac/pa2.jpg'%}" alt="02 Blog">
                                </a>
                                
                            </div>
                            <div class="text-box">
                                <a href="" class="title-blog">
                                    <h5>Men's Slim-Fit Long-Sleeve</h5>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="blog-item">
                            <div class="img-box text-box" style="height: 350px;">
                                <a href="" class="open-post">
                                    <img class="img-fluid" src="{%static 'assets/images/mac/pa3.jpg'%}" alt="03 Blog">
                                </a>
                                
                            </div>
                            <div class="text-box">
                                <a href="" class="title-blog">
                                    <h5>COOFANDY Men's Short Sleeve</h5>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="blog-item">
                            <div class="img-box text-box" style="height: 350px;">
                                <a href="" class="open-post">
                                    <img class="img-fluid" src="{%static 'assets/images/mac/pa4.jpg'%}" alt="01 Blog">
                                </a>
                                
                            </div>
                            <div class="text-box">
                                <a href="" class="title-blog">
                                    <h5>COOFANDY Men's Linen Shirts Casual</h5>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="blog-item">
                            <div class="img-box text-box" style="height: 350px;">
                                <a href="" class="open-post">
                                    <img class="img-fluid" src="{%static 'assets/images/mac/pa5.jpg'%}" alt="01 Blog">
                                </a>
                                
                            </div>
                            <div class="text-box">
                                <a href="" class="title-blog">
                                    <h5>COOFANDY Mens Cotton Linen Shirt</h5>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="blog-item">
                            <div class="img-box text-box" style="height: 350px;">
                                <a href="" class="open-post">
                                    <img class="img-fluid" src="{%static 'assets/images/mac/pa6.jpg'%}" alt="01 Blog">
                                </a>
                                
                            </div>
                            <div class="text-box">
                                <a href="" class="title-blog">
                                    <h5>Amazon Essentials Men's Regular-Fit</h5>
                                </a>
                                
                            </div>
                        </div>
                    </div>
					<div class="col-md-6 col-lg-4">
                        <div class="blog-item">
                            <div class="img-box text-box" style="height: 350px;">
                                <a href="" class="open-post">
                                    <img class="img-fluid" src="{%static 'assets/images/mac/pa7.jpg'%}" alt="02 Blog">
                                </a>
                                
                            </div>
                            <div class="text-box">
                                <a href="" class="title-blog">
                                    <h5>AUTOMET Womens Casual</h5>
                                </a>
                                
                            </div>
                        </div>
                    </div>
					<div class="col-md-6 col-lg-4">
                        <div class="blog-item">
                            <div class="img-box text-box" style="height: 350px;">
                                <a href="" class="open-post">
                                    <img class="img-fluid" src="{%static 'assets/images/mac/pa8.jpg'%}" alt="03 Blog">
                                </a>
                                
                            </div>
                            <div class="text-box">
                                <a href="" class="title-blog">
                                    <h5>Women's Classic-Fit Long-Sleeve</h5>
                                </a>
                                
                            </div>
                        </div>
                    </div>
					<div class="col-md-6 col-lg-4">
                        <div class="blog-item">
                            <div class="img-box text-box" style="height: 350px;">
                                <a href="" class="open-post">
                                    <img class="img-fluid" src="{%static 'assets/images/mac/pa9.jpg'%}" alt="01 Blog">
                                </a>
                                
                            </div>
                            <div class="text-box">
                                <a href="" class="title-blog">
                                    <h5>Amazon Essentials Women's</h5>
                                </a>
                                
                            </div>
                        </div>
                    </div>
					<!-- <div class="col-lg-12">
                        <div class="pagination-area">
                            <ul class="pagination">
                                <li>Prev</li>
                                <li class="active">1</li>
                                <li>2</li>
                                <li>3</li>
                                <li>Next</li>
                            </ul>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>
        {%endblock%}